html{font-size:100px;}
/*首页*/
#bg_img{
    width: 7.5rem;
    height: 12.06rem;
    background-image: url("../images/E379234D-9DA5-43B6-AE8F-1801CEE10899@1x.png");
    background-size: 7.5rem 12.06rem ;
    display: none;
}
.leader{
    width: 7.5rem;
    height: 12.06rem;
    background-color: rgba(0,0,0,0.2);
}
.bg{
    position: absolute;
    left: 0.31rem;
    top:3.71rem;
    width: 6.78rem;
    height: 4.65rem;
    border-radius: 0.19rem;
    background-color: rgba(255,255,255,0.2);
}
.bg>h1{
    font-family:PingFangSC-Regular;
    margin-top: 1.1rem;
    font-size:0.36rem;
    color:#ffffff;
    letter-spacing:0;
    line-height:.48rem;
    text-align:center;
}
.bg>img{
    width: 1.9rem;
    margin-top: 0.1rem;
    margin-left: 2.49rem;
}
.bg>.line{
    position: absolute;
    top: 2rem;
    border: .01rem solid #ffffff;
    width:  1.74rem;
}
.bg>.line:nth-of-type(1){
    left: .6rem;
}
.bg>.line:nth-of-type(2){
    left: 4.7rem;
}
.bg>p{
    font-family:PingFangSC;
    font-size:.64rem;
    color:#fb4874;
    padding-top: .2rem;
    text-align:center;
    cursor: pointer;
}
